* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1 {
  padding: 10px;
}
.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e9edc9;
  color: #856646;
}
.navList {
  display: flex;
  list-style: none;
}
.navList a {
  font-size: 17px;
  letter-spacing: 1px;
  font-weight: bold;
  padding: 15px;
}
li a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  cursor: pointer;
  background-color: rgb(175, 202, 87);
  color: white;
}
main {
  background-color: whitesmoke;
}
.mainContent {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1250px;
}
#searchInput {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid grey;
  margin-top: 20px;
  margin-bottom: 20px;
}
.divRows {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.productCard {
  width: 17%;
  height: 350px;
  margin: 10px 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 10px;
  overflow: hidden;
}
.productDescription {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
}
button {
  cursor: pointer;
  background-color: #d4a373;
  border: none;
  border-radius: 7px;
  padding: 5px;
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  width: 100%;
  height: 60%;
}
#cartContainer {
  height: 100vh;
}
